@charset "utf-8";
$GUTTERS: 2px, 5px, 8px, 10px, 12px, 15px;
$MAX_COLUMNS: 12;
$HARD_WIDTH_LIMIT: 100%;
$MEDIA_MOBILE_MAX: 600px;
$MEDIA_TABLET_MAX: 600px;

// Mobile
.layout {
  max-width: $HARD_WIDTH_LIMIT;
  width: 100%;

  @each $gutter in $GUTTERS {
    &.gutter-#{$gutter},
    .gutter-#{$gutter} {
      .row {
        margin: 0;

        > .col {
          padding: $gutter 0 0;

          .cell {
            padding-top: $gutter;

            &:first-child {
              padding-top: 0;
            }
          }
        }
      }
    }
  }

  .col > .table {
    > .row:first-child > .col {
      padding-top: 0;
    }

    > .row:last-child > .col {
      padding-bottom: 0;
    }
  }

  .table {
    &,
    .row {
      clear: both;

      &:before,
      &:after {
        content: '';
        display: table;
      }

      &:after {
        clear: both;
      }

      &.row:first-child {
        margin-top: 0;
      }
    }

    .col {
      box-sizing: border-box;
      display: block;
      text-align: center;
      vertical-align: top;

      img,
      a > img {
        display: block;
        width: auto;
        height: auto;
        max-width: 100%;
        margin: auto;
      }
    }
  }


  // Tablet / Desktop
  @media (min-width: #{$MEDIA_MOBILE_MAX}) {
    @each $gutter in $GUTTERS {
      &.gutter-#{$gutter},
      .gutter-#{$gutter} {
        .row {
          margin: 0 -#{$gutter / 2};

          > .col {
            padding: #{$gutter} #{$gutter / 2} 0;

            .cell {
              padding-top: $gutter;

              &:first-child {
                padding-top: 0px;
              }
            }
          }
        }
      }
    }

    .table {
      .col {
        float: left;
      }
    }

    .table {
      @for $cols from 1 through $MAX_COLUMNS {
        .col:first-child:nth-last-child(#{$cols}),
        .col:first-child:nth-last-child(#{$cols}) ~ .col {
          width: #{ 100% / $cols };
        }
      }
    }
  }

  .table {
    @for $cols from 2 through $MAX_COLUMNS {
      > .cols-#{$cols}.cols-#{$cols} {
        &:before,
        &:after {
          content: '';
          display: table;
        }

        &:after {
          clear: both;
        }

        &.row:first-child {
          margin-top: 0;
        }

        > .col {
          width: 100%;
        }

        @media (min-width: #{$MEDIA_MOBILE_MAX}) {
          > .col.col {
            width: #{100% / $cols};

            @for $span from 2 through $cols {
              &.span-#{$span} {
                width: #{(100% / $cols) * $span };
              }
            }
          }
        }
      }
    }
  }
}